.card{
  height: calc(100vh/1.9);
  display: flex;
  flex-direction: column; 
}
.menubar, .friendsbar{
  height: 90vh;
}

.overlay{
  background:rgba(0,0,0,0.6);
}
.btn-overlay{
  background:rgba(255,255,255,0.3);
}
.mini-card{
  height: calc(100vh/2.1);
  
}