@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Montserrat;
}

.menubar-link{
  @apply flex gap-3 lg:gap-4 items-center pl-4 lg:pl-8 text-typography-grey text-base lg:text-lg hover:text-typography-white cursor-pointer delay-75 duration-150
}

.active{
  @apply text-typography-white bg-black-v3 py-4
}
.active i{
  @apply text-brand-purple
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
