@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Montserrat;
}


.menubar-link{
  @apply flex gap-3 py-4 lg:gap-4 items-center pl-4 lg:pl-8 text-typography-grey text-base lg:text-lg hover:text-typography-white cursor-pointer delay-75 duration-150 
}

.active{
  @apply text-typography-white bg-black-v3 
}
.active i{
  @apply text-brand-purple
}

.sidebar-link{
  @apply flex gap-4 items-center text-typography-grey text-xl hover:text-typography-white cursor-pointer delay-75 duration-150 
}

.outlet-layout{
  @apply col-span-10 md:col-span-7 bg-black-v2 rounded-3xl mt-20 p-4 text-typography-white
}

.details_section-div{
  @apply bg-black-v3 p-4 lg:p-8 rounded-xl;
}

.friend-icon{
  @apply flex justify-center items-center hover:transform hover:scale-75 duration-300 cursor-pointer relative;
}

.friend-icon .status-dot{
  @apply absolute rounded-full p-1 lg:p-2 text-xs mr-7 mb-8 lg:mr-8 lg:mb-10;
}
.friend-icon .xp{
  @apply bg-black-v3 absolute rounded-full p-1 px-1 text-[.5rem] ml-8 mt-8 lg:text-xs lg:ml-10 lg:mt-10;
}
.friend-icon .avatar{
  @apply w-2/5 md:w-3/5 xl:w-1/3 border-4 border-t-0 border-l-0 rounded-full p-1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
