@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Montserrat;
}


.menubar-link{
  @apply flex gap-3 py-4 lg:gap-4 items-center pl-4 lg:pl-8 text-typography-grey text-base lg:text-lg hover:text-typography-white cursor-pointer delay-75 duration-150 
}

.active{
  @apply text-typography-white bg-black-v3 
}
.active i{
  @apply text-brand-purple
}

.sidebar-link{
  @apply flex gap-4 items-center text-typography-grey text-xl hover:text-typography-white cursor-pointer delay-75 duration-150 
}

.outlet-layout{
  @apply col-span-10 md:col-span-7 bg-black-v2 rounded-3xl mt-20 p-4 text-typography-white
}

.details_section-div{
  @apply bg-black-v3 p-4 lg:p-8 rounded-xl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
